<div class="container-fluid container-fluid-custom custom-padding">
    <h1>About</h1>
    <p>Write your own thoughts down as they come to you. Notes is a simple to use free note <br>
        taking app made with Node.Js, EJS, & MongoDB.</p>
</div>

<br>

<div class="container-fluid container-fluid-custom custom-padding">
    <div class="row">
        <div class="col-md-6 mb-4">
            <h1 class="mt-3">Tech Stack</h1>
            <ul>
                <li class="mb-2">HTML</li>
                <li class="mb-2">Node.Js</li>
                <li class="mb-2">Express</li>
                <li class="mb-2">EJS</li>
                <li class="mb-2">MongoDB</li>
                <li class="mb-2">Bootstrap</li>
            </ul>
        </div>
    </div>
</div>

