<div class="container-fluid container-fluid-custom custom-padding">
    <h1 class="display-4">Features</h1>
    <div class="row">
        <div class="mt-5 col-md-12 mb-4">
            <ul>
                <li class="mb-2">
                    <strong>Attractive Front Page:</strong> A visually appealing and user-friendly front page.
                </li>
                <li class="mb-2">
                    <strong>Google Authentication:</strong> Secure login using your Google account.
                </li>
                <li class="mb-2">
                    <strong>Pagination:</strong> Efficiently manage and navigate through multiple notes.
                </li>
                <li class="mb-2">
                    <strong>Create Notes:</strong> Easily create new notes with a simple and intuitive interface.
                </li>
                <li class="mb-2">
                    <strong>Update Notes:</strong> Quickly update and edit your existing notes.
                </li>
                <li class="mb-2">
                    <strong>Delete Notes:</strong> Remove unwanted notes with ease.
                </li>
                <li class="mb-5">
                    <strong>View Notes:</strong> View your notes in a clean and organized format.
                </li>
            </ul>
        </div>
    </div>
</div>
